* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom right, #6DD5FA, #2980b9);
}


h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input[type="text"] {
  padding: 0.8rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 3px solid #69c1cc;
  width: 60%;
  margin-right: 0.5rem;
  outline: none;
}

input[type="submit"] {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  background-color: #69c1cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #1d9ba4;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  max-width: 700px;
  padding: 0;
}

li {
  background-color: white;
  box-shadow: 0px 0px 5px #ccc;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease;
}

li:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px #ccc;
}

li label {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
}

li label:hover {
  color: #69c1cc;
}

li button {
  padding: 0.5rem 1.5rem;
  background-color: #e74c3c;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

li button:hover {
  background-color: #c0392b;
}

li.done label {
  text-decoration: line-through;
  color: #aaa;
}


button#addTodoButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button#addTodoButton:hover {
  background-color: #27ae60;
}

.fa-plus {
 font-size: 30px;
}

@media (max-width: 600px) {
  li {
    max-width: 40rem;
  }

}
@media (max-width: 360px) {
  li {
    max-width: 20rem;
    margin-left: 1.2rem;
  }
}