* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #151515;
}

header h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    width: 100%; 
}

#task-form {
    display: flex;
}

input, button {
    border: none;
    outline: none;
    appearance: none;
    background: none;
}

#task-input {
    flex: 1 1 0%;
    margin-right: 1rem;
    padding: 1em;
    background-color: lightcoral;
    border-radius: 1rem;
    font-size: 1rem;
}

#task-input::placeholder {
    color: gray;
}


#task-submit:hover {
    color: green;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.taskList {
    padding: 1rem;
}

.taskList h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;
}

button {
    background-color: blue;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}